body,
/* h1,
h2,
h3,
h4, */
h1,
p, 
div,
button,
span
/* ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd */ {
  margin: 0;
}

.signUp_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 32px;
    
    position: absolute;
    width: 384px;
    height: 599px;
    left: 523px;
    top: 139px;
    
    /* Grey / grey-1 */
    
    background: #FFFFFF;
    /* Grey / grey-5 */
    
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
    border-radius: 6px;
    border-radius: 6px;


}
.responseError {
    position: absolute;
    color: red;
    text-align: center;
    align-items: center;
    justify-items: center;
    top: 15px;
}
.success {

    position: absolute;
    color: #52C41A;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    left: 0;
    right: 0;
    top: 15px;
}

.title {
    position: static;
    width: 311px;
    height: 28px;
    left: 36.5px;
    top: 48px;
    
    /* Semibold / 20 px | 28 px */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    
    text-align: center;
    
    /* Grey / grey-9 */
    
    color: #262626;
    
    
    /* Inside Auto Layout */
    
    flex: none;
 /*    order: 0; */
    align-self: center;
}


.form_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    position: relative;
    width: 320px;
    height: 292px;

    
    
    /* Inside Auto Layout */
    
    flex: none;
   /*  order: 1; */
    align-self: flex-start;
    flex-grow: 0;
    margin: 21px 0px;
}

.userName_block {
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 320px;
height: 64px;
left: 0px;
top: 0px;


/* Inside Auto Layout */

flex: none;
/* order: 0; */
flex-grow: 0;
margin: 12px 0px;

}
.userNameLabel {
    position: absolute;
    height: 22px;
    left: 0px;
    right: 0px;
    top: 0px;
    
    /* Regular / 14px | 22px */
    
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    display: flex;
    align-items: center;
    
    /* Grey / grey-9 */
    
    color: #262626;
    
    
    /* Inside Auto Layout */
    
    flex: none;
 /*    order: 0; */
    flex-grow: 0;
    margin: 2px 0px;


}
.userNameInput {


    position: absolute;
    height: 40px;
    width: 320px;
    top: 24px;
    /* Grey / grey-1 */
    
    background: #FFFFFF;
    /* Grey / grey-5 */
    
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
}
.email_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 320px;
    height: 64px;
    left: 0px;
    top: 76px;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    /* order: 1; */
    flex-grow: 0;
    margin: 12px 0px;
}
.emailLabel{
    position: absolute;
    height: 22px;
    left: 0px;
    right: 0px;
    top: 0px;
    
    /* Regular / 14px | 22px */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    display: flex;
    align-items: center;
    
    /* Grey / grey-9 */
    
    color: #262626;
    
    
    /* Inside Auto Layout */
    
    flex: none;
   /*  order: 0; */
    flex-grow: 0;
    margin: 2px 0px;
}

.emailInput {
    position: absolute;
    height: 40px;
width: 320px;
    top: 24px;

    
    
    /* Inside Auto Layout */
    
    flex: none;
 /*    order: 1; */
    flex-grow: 0;
    background: #FFFFFF;
    /* Grey / grey-5 */
    
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;

}
.password_block{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 320px;
    height: 64px;
    left: 0px;
    top: 152px;
    
    
    /* Inside Auto Layout */
    
    flex: none;
   /*  order: 2; */
    flex-grow: 0;
    margin: 12px 0px;
    
}
.passwordlabel {
    position: absolute;
    height: 22px;
    left: 0px;
    right: 0px;
    top: 0px;
    
    /* Regular / 14px | 22px */
    
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    display: flex;
    align-items: center;
    
    /* Grey / grey-9 */
    
    color: #262626;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    /* order: 0; */
    flex-grow: 0;
    margin: 2px 0px;

}
.passwordInput {
    position: absolute;
    top: 24px;
    width: 320px;
    height: 40px;
    background: #FFFFFF;
    /* Grey / grey-5 */
    
   /*  border: 1px solid #D9D9D9;
    box-sizing: border-box; */
    background: #FFFFFF;
    /* Grey / grey-5 */
    
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
}
.repeatPassword_block{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 320px;
    height: 64px;
    left: 0px;
top: 228px;


/* Inside Auto Layout */

flex: none;
/* order: 0; */
flex-grow: 0;
margin: 12px 0px;

}
.repeatPasswordlabel{
    position: absolute;
height: 22px;
left: 0px;
right: 0px;
top: 0px;

/* Regular / 14px | 22px */

font-family: Roboto, serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

display: flex;
align-items: center;

/* Grey / grey-9 */

color: #262626;


/* Inside Auto Layout */

flex: none;
/* order: 0; */
flex-grow: 0;
margin: 2px 0px;
}
.repeatPasswordInput{
    position: absolute;
width: 320px;
height: 40px;
top: 24px;

/* Regular / 16 px | 24 px */

font-family: Roboto, serif;
font-style: normal;
font-weight: normal;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

/* Grey / grey-6 */


background: #FFFFFF;
/* Grey / grey-5 */

border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 4px;
}
.line{
/*     position: absolute;
width: 320px;
height: 0px;
left: 32px;
top: 410px;
border: 1px solid #E8E8E8; */
}
.checkbox_block{
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 320px;
    height: 44px;
    left: 32px;
    top: 410px;
    
    
    /* Inside Auto Layout */
    
    flex: none;
/*     order: 2;
 */    align-self: flex-start;
    flex-grow: 0;
    margin: 40px 0px;
}
.checkboxlabel{
    position: absolute;
height: 44px;
left: 24px;
right: 0px;


/* Regular / 14px | 22px */

font-family: Roboto serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* or 157% */


/* Grey / grey-8 */

color: #595959;


/* Inside Auto Layout */

flex: none;
/* order: 1;
 */flex-grow: 0;
margin: 0px 8px;
}
.checkbox {
    
position: relative;
width: 9.56px;
height: 7.55px;
left: 0px;


/* Grey / grey-1 */

background: #FFFFFF;
/* Grey / grey-1 */

border: 0.3px solid #FFFFFF;
}
.button_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 319px;
    height: 68px;
    left: 32px;
    top: 483px;
    
    
    /* Inside Auto Layout */
    
    flex: none;
/*     order: 2;
 */    align-self: flex-start;
    flex-grow: 0;
    margin: 21px 0px;


}
.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 16px;
    
    position: absolute;
    width: 319px;
    height: 40px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    /* Daybreak Blue / blue-6 */
    font-family: Roboto serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
    color: white;
    background: #1890FF;
    border-radius: 4px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
    /* Inside Auto Layout */
    
    flex: none;
/*     order: 0;
 */    flex-grow: 0;
    margin: 10px 0px;
}

.under_button {
    position: absolute;
    width: 319px;
    height: 20px;
    left: 0px;
    top: 48px;
    
    /* Regular / 12px | 20 px */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    text-align: center;
    
    /* Grey / grey-7 */
    
    color: #8C8C8C;
    
    
    /* Inside Auto Layout */
    
    flex: none;
/*     order: 1;
 */    flex-grow: 0;
    margin: 8px 0px;
}
.error {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 66px;
    bottom: 0px;
    
    /* Regular / 14px | 22px */
    
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #F5222D;
    background: #FFFFFF;
    /* @highlight-color */
    

/* Inside Auto Layout */

flex: none;
/* order: 2;
 */flex-grow: 0;
margin: 2px 0px;
}
.checkboxError {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 40px;
    bottom: 0px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #F5222D;
    background: #FFFFFF;
    /* @highlight-color */
    

/* Inside Auto Layout */

flex: none;
/* order: 2;
 */flex-grow: 0;
margin: 2px 0px;
}