body,
/* h1,
h2,
h3,
h4, */
p, 
div,
button,
span
/* ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd */ {
  margin: 0;
}

.signIn_block {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 48px 32px;

position: absolute;
width: 384px;
height: 374px;
left: 523px;
top: 139px;
border-radius: 6px;

/* Grey / grey-1 */

background: #FFFFFF;
/* Grey / grey-5 */

border: 1px solid #D9D9D9;
box-sizing: border-box;
box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);

}

.title {
    position: static;
width: 311px;
height: 28px;
left: 36.5px;
top: 48px;

/* Semibold / 20 px | 28 px */

font-family: Roboto, serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

text-align: center;

/* Grey / grey-9 */

color: #262626;
}
.form_block {
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 320px;
height: 140px;
left: 32px;
top: 97px;
}
.email_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}
.emailLabel{
    position: static;
height: 22px;
left: 0px;
right: 0px;
top: 0px;

/* Regular / 14px | 22px */

font-family: Roboto, serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

display: flex;
align-items: center;

/* Grey / grey-9 */

color: #262626;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;

}

.emailInput {
    width: 320px;
    position: static;
    height: 40px;
    left: 0px;
    right: 0px;
    top: 24px;
    border-radius: 4px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 2px 0px;
/*     background-color: #ffe !important; 
    color: #930 !important; */
}
.password_block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}
.passwordlabel {
    position: static;
height: 22px;
left: 0px;
right: 0px;
top: 0px;

/* Regular / 14px | 22px */

font-family: Roboto, serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

display: flex;
align-items: center;

/* Grey / grey-9 */

color: #262626;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 2px 0px;

}
.passwordInput {
    width: 320px;
    height: 40px;
    top: 24px;
    
    position: static;
    height: 40px;
    left: 0px;
    right: 0px;
    top: 24px;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 2px 0px;
}
.button_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    position: static;
    width: 319px;
    height: 68px;
    left: 32px;
    top: 258px;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 2;
    align-self: flex-start;
    flex-grow: 0;
    margin: 21px 0px;


}
.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    position: static;
    width: 319px;
    height: 40px;
    left: 0px;
    top: 0px;
    

/* Daybreak Blue / blue-6 */

background: #1890FF;
color:  #FFFFFF;
border-radius: 4px;
font-family: Roboto, serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
align-items: center;
text-align: center;
/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;
}

.under_button {
    position: static;
    width: 319px;
    height: 20px;
    left: 0px;
    top: 48px;
    
    /* Regular / 12px | 20 px */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    text-align: center;
    
    /* Grey / grey-7 */
    
    color: #8C8C8C;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
}
.error {
    position: static;
    left: 0px;
    right: 0px;
    top: 66px;
    bottom: 0px;
    
    /* Regular / 14px | 22px */
    
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #F5222D;


/* Inside Auto Layout */

flex: none;
order: 2;
flex-grow: 0;
margin: 2px 0px;
}