.text_block_wrap {
position: absolute;
width: 880px;
height: 685px;
left: 16px;
top: 153px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
color: rgba(0, 0, 0, 0.75);
}
.text_block {
    position: absolute;
    width: 880px;
    height: 685px;
    left: 16px;
    top: 153px; 
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.75);
}