body,
h1,
p, 
div,
button,
span
 {
  margin: 0;
}
.createArticle_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 32px;   
    position: absolute;
    width: 938px;
    min-height: 661px;
    height: auto;
    left: 251px;
    top: 114px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
    border-radius: 6px;
}
.title {
    position: relative;
width: 311px;
height: 28px;
/* left: 313.5px;
top: 48px; */

/* Semibold / 20 px | 28 px */

font-family: Roboto serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

text-align: center;

/* Grey / grey-9 */

color: #262626;


/* Inside Auto Layout */

flex: none;
order: 0;
align-self: center;
flex-grow: 0;
margin: 21px 0px;
}
.title_block{
    display: flex;
flex-direction: column;
/* align-items: center;
padding: 0px; */

position: relative;
width: 874px;
min-height: 64px;
/* left: 32px;
top: 97px; */
flex: none;
order: 0;
flex-grow: 0;
margin: 12px 0px;
}
.titleLabel{
    position: relative;
height: 22px;
left: 0px;
right: 554px;
/* top: 0px;
 */font-family: Roboto serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

display: flex;
align-items: center;

/* Grey / grey-9 */

color: #262626;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 2px 0px;
}
.titleInput {
    position: relative;
/* left: 0px;
 *//* top: 24px;
 */width: 874px;
height: 40px;
background: #FFFFFF;
/* Grey / grey-5 */

border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 4px;
}
.shortDescription_block {
   /*  display: flex;
flex-direction: row;
align-items: center; */
padding: 0px;
position: relative;
width: 874px;
height: 64px;
/* left: 32px;
top: 182px; */
flex: none;
order: 2;
align-self: flex-start;
flex-grow: 0;
margin: 21px 0px;
}
.shortDescriptionlabel {
    position: relative;
    height: 22px;
    font-family: Roboto serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #262626;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 2px 0px;
}
.shortDescriptionInput{
    position: relative;
    width: 874px;
    height: 40px; 
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
}
.text_block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative;
    flex: none;
    order: 3;
    align-self: center;
    flex-grow: 0;
    margin: 21px 0px;
}
.textLabel{
    position: relative;
    height: 22px;
    left: 0px;
    right: 554px;
    top: 0px;
    font-family: Roboto serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #262626;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px 0px;
}
.textInput {
    position: relative;
    resize: none;
    left: 0px;
    width:874px;
    min-height: 168px;
    max-height: 168px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    overflow-wrap: break-word;
}
.borderInput {
    border: 1px solid red;
}
.tags_block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    min-height: 40px;
    position: relative;
    flex: none;
    align-self: center;
    flex-grow: 0;
    margin: 21px 0px;
}

.singleTag_Block{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 40px;
    left: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 5px 0px;
}
.singleTagInput{
    position: relative;
top: 0px;
width:300px;
height: 40px;
    
    /* Grey / grey-1 */
    
    background: #FFFFFF;
    /* Grey / grey-5 */
    
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
}
.singleTagBtn {
 /*    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 32px; */
    
    position: absolute;
    width: 120px;
    height: 40px;
    left: 317px;
    top: 0px;
    align-items: center;
text-align: center;
font-size: 16px;
line-height: 24px;
/* @highlight-color */
border: 1px solid #F5222D;
color: #F5222D;
    /* Grey / grey-1 */
    
    background: #FFFFFF;
    /* Grey / grey-5 */
    border-radius: 4px;


}
.singleTagBtnAdd {
width: 136px;
height: 40px;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 8px 16px;
    
    position: absolute;
    left: 454px;
    top: 0px;
    
    /* @info-color */
    color: #1890FF;
    background: #FFFFFF;
    border: 1px solid #1890FF;
    box-sizing: border-box;
    border-radius: 4px;
}
.button{
   /*  display: flex;
flex-direction: column;
align-items: center;
padding: 8px 16px; */

position: relative;
/* left: 32px; */
width: 319px;
height: 40px;
/* bottom: 48px; */
/* Daybreak Blue / blue-6 */
font-family: Roboto serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: white;
background: #1890FF;
border-radius: 4px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;
}
.error{
    position: relative;
    left: 0px;
    right: 0px;
   /*  top: 66px; */
    bottom: 0px;
    
    /* Regular / 14px | 22px */
    
    font-family: Roboto serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    /* @highlight-color */
    
    color: #F5222D;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 2px 0px;
}
.articleSuccess {
    position: absolute;
    right: 0px;
    left: calc(100%/2 - 384px/2);
    top: 140px;
    width: 384px;
    height: 100px;
    background-color: white;
    border: 1px solid grey ;
    border-radius: 6px; 
 }
 .success{
    position: relative;
    text-align: center;
    font-size: 16px;
    width: 384px;
    top: 30px;
    color: #52C41A;
}
.errorInput{
    position: absolute;
    width: 874px;
    height: 40px;
    top: 24px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid red !important;
    box-sizing: border-box;
    border-radius: 4px;
}