$fontFam : Inter serif;
@mixin ArticleFont ($fontFamily: $fontFam, $fontSt: normal, $fontW : normal, $fontS : 12px, $lineH: 22px) {
        font-family: $fontFamily;
        font-style: $fontSt;
        font-weight: $fontW;
        font-size: $fontS;
        line-height: $lineH;
}
.wrapBlock {
    display: flex;
    width: 938px;
    height: 140px; 
    margin:0 auto;
    margin-top: 26px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}
.wrapBlock_border {
    display: flex;
    border: 2.5px solid 
    #52C41A;
    width: 941px;
    height: 140px;
    background: #FFFFFF;
    border-radius: 5px;
}
.wrapBlock__previewArticle { 
    display: flex;
    width: 941px;
    height: 140px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 26px;
}
.wrapBlock__previewArticle__leftPart {
    display: flex;
    flex-direction: column;
    margin: 15px 19px 24px 19px
}
.leftPart__title {
width: auto;
height: 28px;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
display: flex;
align-items: center;

}
.leftPart__link {
    color: #1890FF;
    @include ArticleFont ($fontFam, normal, normal, 20px, 28px);
    text-decoration: none;
}
/* .tag_wrap { 
position: absolute;
width: 38px;
height: 20px;
left: 16px;
top: 47px;
} */
.leftPart__tag {
    @include ArticleFont ($fontFam, normal, normal, 12px, 15px);
    width: 682px;
    height: 20px;
  /*   left: 19px;
    top: 49px; */
    color: rgba(0, 0, 0, 0.5);
}
.leftPart__tag_firstTag {
    border: 1px solid rgba(0, 0, 0, 1); 
    color: black;
 /*    position: relative;
    width: auto;
    height: 20px;
    left: 0px;
    top: 4px;
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 8px;
    padding: 2px 5px 3px 6px; */
}
.leftPart__tag__usial{
    position: relative;
width: auto;
height: 20px;
left: 0px;
top: 4px;
border: 1px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;
border-radius: 2px;
margin-right: 8px;
padding: 2px 5px 3px 6px;
}
.leftPart__likes {
    position: relative;
    width: 34px;
    height: 22px;
    margin-left: 13px;
    cursor: pointer;
}
.likes_block_unactive {
    position: relative;
    width: 34px;
    height: 22px;
margin-left: 13px;
    pointer-events: none;
}
.leftPart__likes_unactive {
    color:rgba(87, 85, 85, 0.15);  
}
.leftPart__likes__icon {
    position: absolute;
left: 0%;
right: 0%;
top: 5.47%;
bottom: 5.56%;
padding: 1px 3.89px 1px 3.89px;

}
.leftPart__likes__count{
    position: absolute;
    width: 13px;
    height: 22px;
    left: 21px;
    top: 0px;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3.89px 1px 3.89px;

}
.previewArticle__authorBlock {
    position: absolute;
width: auto;
height: 46px;
right:  14px;   
top: 15px;
}
.previewArticle__authorBlock__name {
    position: relative;
width: auto;
height: 28px;
right: 58px;
top: 15px;
font-family: Inter, serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
float: right;
color: rgba(0, 0, 0, 0.85);
}
.previewArticle__authorBlock__dateOfPubliks {
    position: relative;
width: auto;
height: 22px;
/* right: 58px; */
top: 41px;
font-family: Inter, serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 22px;
display: flex;
float: right;
color: rgba(0, 0, 0, 0.5);
}
.previewArticle__authorBlock__image {
    position: absolute;
width: 46px;
height: 46px;
right: 0px;
top: 15px;
border-radius: 50%;
/* background: url('../../../assets/image/Rectangle 1.png'); */
}
.leftPart__description {
    position: absolute;
width: 682px;
height: 45px;
left: 19px;
top: 85px;
font-family: Inter, serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 22px;
color: rgba(0, 0, 0, 0.75);
}
.text_block_wrap {   
    position: relative;
    width: 880px;
    max-height: 685px;   
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.75); 
    }
    .text_block {
        position: relative;
        font-family: Inter, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: rgba(0, 0, 0, 0.75);
        overflow-y:auto;
        word-wrap: break-word; 
    }

    .wrap_article_block {
        position: relative;
width: 941px;
height: 807px;
left: calc(50% - 938px/2);
top: 106px;
filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
background: #FFFFFF;

    }
    .single_article_block{
        position: absolute;
width: 941px;
height: 870px;
left: -3px;
top: -2px;
    }
    .buttons_block {
        position: absolute;
        top: 93px;
        right: 13.77px;
        width: 155px;
        height: 31,1px;
    }
    .delete_btn {
           position: absolute;
           width: 78px;
           height: 31.1px;  
           align-items: center;
       text-align: center;
       font-size: 16px;
       line-height: 24px;
       border: 1px solid #F5222D;
       box-sizing: border-box;
       border-radius: 5px;
       color: #F5222D;
           /* Grey / grey-1 */
           
           background: #FFFFFF;
           /* Grey / grey-5 */
       
       
       }
       .edit_btn {
        position: absolute;
        width: 65.23px;
        height: 31.1px;  
        align-items: center;
        left: 90px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #52C41A;
    box-sizing: border-box;
    border-radius: 5px;
    color: #52C41A;
        /* Grey / grey-1 */
        
        background: #FFFFFF; 
}
.modal_body {
/*     position: fixed;
 */    width: 1440px;
    height: 977px;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15)),

}
.sign {
    width: 40px;
    height: 40px;
    color: white;
    background-color: #FAAD14;
    border-radius: 50%;
}
.text_block_wrap {
    position: absolute;
    width: 880px;
    height: 630px;
    left: 16px;
    top: 155px;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.75);
    overflow-wrap: break-word;
    word-wrap: break-word; 
    }
    .text_block {
        position: absolute;
        width: 880px;
        height: 630px;
        left: 16px;
        /* top: 153px;  */
        font-family: Inter, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: rgba(0, 0, 0, 0.75);
    }
    .success_block{
        position: absolute;
        right: 0px;
        left: calc(100%/2 - 384px/2);
        top: 140px;
        width: 384px;
        height: 100px;
        background-color: white;
        border: 1px solid grey ;
        border-radius: 6px;  
    }
    .success{
        position: relative;
        text-align: center;
        font-size: 16px;
        width: 384px;
        top: 30px;
        color: #52C41A;
    }