@import './../../../Variables.scss';
@import "../../../../node_modules/antd/lib/modal/style/index.css";

.wrapBlock {
    display: flex;
    width: 100%;
    max-width: 941px;
    height: 140px; 
    margin:0 auto;
    margin-top: 26px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}
.wrapBlock_border {
    border: 2.5px solid $btnColorGreen;
}
.wrapBlock__previewArticle { 
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 941px;
    min-width: 400px;
    height: 140px;
    background: $backgroundCol;
    border-radius: 5px;
    padding: 15px;
}
.wrapBlock__previewArticle__leftPart {
    display: flex;
    flex-direction: column;
}
.leftPart__title {
    width: auto;
    height: 28px;
    @include fontRules ($fontFamInter, normal, normal, 20px, 28px);    
    display: flex;
    align-items: center;
}
.leftPart__link {
    color: $btnColorBlue;
    @include fontRules ($fontFamInter, normal, normal, 20px, 28px);
    text-decoration: none;
}
.leftPart__tag {
    @include fontRules ($fontFamInter, normal, normal, 12px, 15px);
    width: auto;
    height: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.leftPart__tag_firstTag {  
    border: 2px solid rgba(0, 0, 0, 1); 
    color: black;
}
.leftPart__tag__usial{
    position: relative;
    width: auto;
    height: 20px;
    left: 0px;
    top: 4px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 8px;
    padding: 2px 5px 3px 6px;
}
.leftPart__likes {
    display: flex;
    align-items: center;
    width: 34px;
    height: 22px;
    margin-left: 13px;
    cursor: pointer;
}
.leftPart__likes_unactive {
    color:rgba(87, 85, 85, 0.15);  
    pointer-events: none;
}
.leftPart__likes__icon {
    width: 16px;
    height: 16px;
}
.leftPart__likes__count{
    @include fontRules ($fontFamInter, normal, normal, 12px, 22px);
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3.89px 1px 3.89px;
}
.previewArticle__authorBlock {
    justify-content: flex-end;
    display: flex;
    width: auto;
    height: 46px;
}
.previewArticle__authorBlock__direction{
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}
.authorBlock__direction__name {
    display: flex;
    justify-content: flex-end;
    @include fontRules ($fontFamInter, normal, normal, 18px, 28px);
    width: auto;
    height: 28px;
    color: rgba(0, 0, 0, 0.85);
}
.authorBlock__direction__dateOfPublic {
    width: auto;
    height: 22px;
    justify-content: flex-end;
    @include fontRules ($fontFamInter, normal, normal, 12px, 22px);
    display: flex;
    margin-top: -2px;
    color: rgba(0, 0, 0, 0.5);
}
.previewArticle__authorBlock__image {
    display: flex;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
.leftPart__description {
    margin-top: 4px;
    @include fontRules ($fontFamInter, normal, normal, 12px, 22px);
    width: auto;
    height: 45px;
    color: rgba(0, 0, 0, 0.75);
    overflow-wrap: break-word;
}
.successBlock__text {   
    position: relative;
    width: 880px;
    max-height: 685px;  
    @include fontRules ($fontFamInter, normal, normal, 20px, 28px);
    color: rgba(0, 0, 0, 0.75); 
    }
.successBlock__text__body {
    position: relative;
    @include fontRules ($fontFamInter, normal, normal, 18px, 28px);
    color: rgba(0, 0, 0, 0.75);
    overflow-y:auto;
    word-wrap: break-word; 
    }
.singleArticle {
    display: flex;
    flex-direction: column;
    margin-top: 24px !important;
    margin: 0 auto;
    width: 100%;
    max-width: 941px;
    min-width: 400px;
    height: 807px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
    background: $backgroundCol;
}
.managePanel {
    display: flex;
    width: 155px;
    height: 31,1px;
    margin-top: 30px;
    margin-right: -58px;
}
.button__del {
    border: 1px solid $btnColorRed;
    color: $btnColorRed;
    margin-right: 12px;
    padding: 0 17px;
    width: 78px;
    height: 31.1px;  
}
.button__edit {
    color: $btnColorGreen;
    border: 1px solid $btnColorGreen;
    width: 65.23px;
    height: 31.1px; 
    padding: 0 17px;
}
.button {
    display: flex;
    align-items: center;
    @include fontRules ($fontFamInter, normal, normal, 16px, 24px);
    box-sizing: border-box;
    border-radius: 5px;
    background: $backgroundCol; 
}
:global(.ant-modal-header) {
    border-bottom: 0px solid white;
}
.ant-modal-header {
    border-bottom: 0px;
}
.modalInfo {
    display: flex;
    @include fontRules($fontFamRoboto, normal, normal, 14px, 22px);
       
    >img {
        margin: 4px 9px 0 0;
        width: 14px;
        height: 14px;
        color: $backgroundCol;
        border-radius: 50%;
    }
    
}
.singleArticle__text {
    display: flex;
    width: 880px;
    height: 630px;
    margin: 25px 19px 30px 42px;
    color: rgba(0, 0, 0, 0.75);
    overflow-wrap: break-word;
    word-wrap: break-word; 
    }
.singleArticle__text__body {
    display: flex;
    width: 880px;
    height: 630px;
    left: 16px;
    @include fontRules ($fontFamInter, normal, normal, 20px, 28px);
    color: rgba(0, 0, 0, 0.75);
    }
.successBlock{
    display: flex;
    margin: 0 auto;
    width: 384px;
    height: 100px;
    background-color: $backgroundCol;
    border: 1px solid grey ;
    border-radius: 6px;  
    }
.successInfo{
        position: relative;
        text-align: center;
        font-size: 16px;
        width: 384px;
        top: 30px;
        color: $btnColorGreen;
    }