.wrapBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 941px;
  height: 140px;
  margin: 0 auto;
  margin-top: 26px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}

.wrapBlock_border {
  border: 2.5px solid #52C41A;
}

.previewArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 941px;
  min-width: 400px;
  height: 140px;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 15px;
}

.leftPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  width: auto;
  height: 28px;
  font-family: Inter serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link {
  color: #1890ff;
  font-family: Inter serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
}

.tags {
  font-family: Inter serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  width: auto;
  height: 20px;
  color: rgba(0, 0, 0, 0.5);
  /*     :nth-child(1) {
        border: 2px solid rgba(0, 0, 0, 1); 
        color: black;
    } */
}

.firstTag {
  border: 2px solid black;
  color: black;
}

.usialTag {
  position: relative;
  width: auto;
  height: 20px;
  left: 0px;
  top: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  margin-right: 8px;
  padding: 2px 5px 3px 6px;
}

.likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 34px;
  height: 22px;
  margin-left: 13px;
  cursor: pointer;
}

.likes_unactive {
  color: rgba(87, 85, 85, 0.15);
  pointer-events: none;
}

.likesIcon {
  width: 16px;
  height: 16px;
}

.likesCount {
  font-family: Inter serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3.89px 1px 3.89px;
}

.authorBlock {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 46px;
}

.direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 12px;
}

.authorName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: Inter serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  width: auto;
  height: 28px;
  color: rgba(0, 0, 0, 0.85);
}

.dateOfPublic {
  width: auto;
  height: 22px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: Inter serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -2px;
  color: rgba(0, 0, 0, 0.5);
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.description {
  margin-top: 4px;
  font-family: Inter serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  width: auto;
  height: 45px;
  color: rgba(0, 0, 0, 0.75);
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.successBlock__text {
  position: relative;
  width: 880px;
  max-height: 685px;
  font-family: Inter serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.75);
}

.successBlock__text__body {
  position: relative;
  font-family: Inter serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  word-wrap: break-word;
}

.singleArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 24px !important;
  margin: 0 auto;
  width: 100%;
  max-width: 941px;
  min-width: 400px;
  height: 807px;
  -webkit-filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
  background: #FFFFFF;
}

.managePanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 155px;
  height: 31,1px;
  margin-top: 30px;
  margin-right: -58px;
}

.button__del {
  border: 1px solid #F5222D;
  color: #F5222D;
  margin-right: 12px;
  padding: 0 17px;
  width: 78px;
  height: 31.1px;
}

.button__edit {
  color: #52C41A;
  border: 1px solid #52C41A;
  width: 65.23px;
  height: 31.1px;
  padding: 0 17px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Inter serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background: #FFFFFF;
}

/* :global(.ant-modal-header) {
    border-bottom: 0px solid white;
}
:global(.ant-modal-footer) {
    border-bottom: 0px solid white;
} */
.modalInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  border-bottom: 0px;
}

.modalInfo .ant-modal-header {
  border-bottom: 0px;
}

.modalInfo .ant-modal-footer {
  border-bottom: 0px;
}

.modalInfo > img {
  margin: 4px 9px 0 0;
  width: 14px;
  height: 14px;
  color: #FFFFFF;
  border-radius: 50%;
}

.textBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 880px;
  height: 630px;
  margin: 25px 19px 30px 42px;
  color: rgba(0, 0, 0, 0.75);
}

.articleText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 880px;
  height: 630px;
  left: 16px;
  font-family: Inter serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.75);
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow-y: auto;
}

.successBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 384px;
  height: 100px;
  background-color: #FFFFFF;
  border: 1px solid grey;
  border-radius: 6px;
}

.successInfo {
  position: relative;
  text-align: center;
  font-size: 16px;
  width: 384px;
  top: 30px;
  color: #52C41A;
}
