.wrap_block {
    position: relative;
    width: 938px;
    height: 140px;
    left: calc(50% - 938px/2);
    top: 106px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}
.articlePreview_block { 
position: relative;
width: 941px;
height: 140px;
left: -3px;
top: 0px;
background: #FFFFFF;
border-radius: 5px;
margin-top: 26px;
}
.title {
    position: absolute;
width: 682px;
height: 28px;
left: 16px;
top: 15px;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
display: flex;
align-items: center;

}
.link {
    color: #1890FF;
font-family: Inter, serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
text-decoration: none;

}
/* .tag_wrap { 
position: absolute;
width: 38px;
height: 20px;
left: 16px;
top: 47px;
} */
.tag_block {
    position: absolute;
    width: 682px;
    height: 20px;
    left: 19px;
    top: 49px;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
}
.firstTag {
    border: 1px solid rgba(0, 0, 0, 1); 
    color: black;
    position: relative;
    width: auto;
    height: 20px;
    left: 0px;
    top: 4px;
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 8px;
    padding: 2px 5px 3px 6px;
}
.tag{
    position: relative;
width: auto;
height: 20px;
left: 0px;
top: 6px;
border: 1px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;
border-radius: 2px;
margin-right: 8px;
padding: 2px 5px 3px 6px;
}
.likes_block {
    position: relative;
    width: 34px;
    height: 22px;
margin-left: 13px;
}
.likes_block_unactive {
    position: relative;
    width: 34px;
    height: 22px;
margin-left: 13px;
    pointer-events: none;
}
.icon_unactive {
    color:rgba(87, 85, 85, 0.15);  
}
.icon {
    position: absolute;
left: 0%;
right: 0%;
top: 5.47%;
bottom: 5.56%;
padding: 1px 3.89px 1px 3.89px;

}
.likes_count{
    position: absolute;
    width: 13px;
    height: 22px;
    left: 21px;
    top: 0px;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.75);
padding: 1px 3.89px 1px 3.89px;

}
.author_block {
    position: absolute;
width: auto;
height: 46px;
right:  14px;
top: 15px;
}
.author_name {
    position: relative;
width: auto;
height: 28px;
right: 72px;
top: 15px;
font-family: Inter, serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
display: flex;
align-items: center;
color: rgba(0, 0, 0, 0.85);
}
.dateOfPublik {
    position: relative;
width: auto;
height: 22px;
right: 72px;
top: 13px;
font-family: Inter, serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 22px;
display: flex;
align-items: center;
color: rgba(0, 0, 0, 0.5);
}
.author_image {
    position: absolute;
width: 46px;
height: 46px;
right: 14px;
top: 15px;
border-radius: 50%;
/* background: url('../../../assets/image/Rectangle 1.png'); */
}
.articleText {
    position: absolute;
width: 682px;
height: 45px;
left: 16px;
top: 71px;
font-family: Inter, serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 22px;
color: rgba(0, 0, 0, 0.75);
}
.text_block_wrap {
    position: relative;
    width: 880px;
    height: 685px;
    left: 16px;
    top: 153px;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.75);
    }

    .wrap_article_block {
        position: relative;
width: 938px;
height: 807px;
left: calc(50% - 938px/2);
top: 106px;
filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
background: #FFFFFF;

    }
    .single_article_block{
        position: absolute;
width: 941px;
height: 870px;
left: -3px;
top: -2px;
    }
    .buttons_block {
        position: absolute;
        top: 93px;
        right: 13.77px;
        width: 155px;
        height: 31,1px;
    }
    .delete_btn {
           position: absolute;
           width: 78px;
           height: 31.1px;  
           align-items: center;
       text-align: center;
       font-size: 16px;
       line-height: 24px;
       border: 1px solid #F5222D;
       box-sizing: border-box;
       border-radius: 5px;
       color: #F5222D;
           /* Grey / grey-1 */
           
           background: #FFFFFF;
           /* Grey / grey-5 */
       
       
       }
       .edit_btn {
        position: absolute;
        width: 65.23px;
        height: 31.1px;  
        align-items: center;
        left: 90px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #52C41A;
    box-sizing: border-box;
    border-radius: 5px;
    color: #52C41A;
        /* Grey / grey-1 */
        
        background: #FFFFFF; 
}
.modal_body {
    position: absolute;
    top: 197px;
    left: 856px;
    width: 280px;
    height: 150px;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15)),

}
.sign {
    width: 40px;
    height: 40px;
    color: white;
    background-color: #FAAD14;
    border-radius: 50%;
}
.text_block_wrap {
    position: absolute;
    width: 880px;
    height: 685px;
    left: 16px;
    top: 153px;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.75);
    overflow-wrap: break-word;
    word-wrap: break-word; 
    }
    .text_block {
        position: absolute;
        width: 880px;
        height: 685px;
        left: 16px;
        top: 153px; 
        font-family: Inter, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: rgba(0, 0, 0, 0.75);
    }
    .success_block{
        position: absolute;
        right: 0px;
        left: calc(100%/2 - 384px/2);
        top: 140px;
        width: 384px;
        height: 100px;
        background-color: white;
        border: 1px solid grey ;
        border-radius: 6px;  
    }
    .success{
        position: relative;
        text-align: center;
        font-size: 16px;
        width: 384px;
        top: 30px;
        color: #52C41A;
    }