body, h1, p, div, button, input, span {
  margin: 0;
}

.header {
  font-family: Inter serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  min-width: 400px;
  height: 80px;
  top: 0px;
  background: #FFFFFF;
}

.header__title {
  font-family: Inter serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 9px 22px 15px 22px;
  color: rgba(0, 0, 0, 0.85);
}

.header__title:hover {
  padding: 10px;
  border: 1px solid #52C41A;
  color: #52C41A;
  text-align: center;
  border-radius: 4px;
}

.header__signInBtn {
  font-family: Inter serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-right: 19px;
  color: rgba(0, 0, 0, 0.85);
  background-color: #FFFFFF;
  border: none;
  outline: none;
  padding-left: 5px;
}

.header__signInBtn:hover {
  border: 1px solid #1890ff;
  border-radius: 4px;
  color: #1890ff;
}

.header__signUpBtn {
  font-family: Inter serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 109px;
  height: 51px;
  padding: 10px 18px 10px 18px;
  color: #52C41A;
  border-radius: 5px;
  border: 1px solid #52C41A;
  background-color: #FFFFFF;
}

.header__btnPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 80px;
  margin-right: 22px;
}

.header__createArticleBtn {
  width: 112.23px;
  height: 31.1px;
  margin-right: 27px;
  color: #52C41A;
  border: 1px solid #52C41A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.header__userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__userInfo:hover {
  color: rgba(167, 159, 159, 0.521);
}

.header__userName {
  font-family: Inter serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  height: 28px;
  min-width: 10px;
  margin-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(0, 0, 0, 0.85);
}

.header__userAva {
  width: 46px;
  height: 46px;
  margin-right: 27px;
  border-radius: 50%;
}

.header__logOutBtn {
  width: 109px;
  height: 51px;
  border: 1px solid rgba(0, 0, 0, 0.85);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}
