@import './../../Variables.scss';

body,
h1,
p, 
div,
button,
input,
span
{
  margin: 0;
}
.articleWrap{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-height: calc(100vh - 80px);
  min-width: $minScreenWidth;
}
.body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  min-width: $minScreenWidth;
}
.pagination {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  width: 250px;
  height: 24px;
}
