body,
h1,
p, 
div,
button,
input,
span
{
  margin: 0;
}
.body_block {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.pagination {
    display: flex;
    flex-direction: row !important;
    position: absolute;
    width: 250px;
    height: 24px;
    bottom: 17px;
    left: 612px; 
}
