.preloader {
    margin: auto;
    width: 10vw;
    height: 10vw;
    z-index: 4;
}
.backPreloader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(218, 213, 213, 1,0);
    width: 100vw;
    height: 100vh;
    z-index: 4;
}
