body,
h1,
p, 
div,
button,
input,
span
 {
  margin: 0;
}
.App {
  position: relative;
  width: 1440px;
  height: 977px;

/* Background */

  background: #EBEEF3;
  
}
/* .pagination{
  position: absolute;
  width: 204px;
  height: 24px;
  left: 612px;
  top: 936px;
}
 */
