$btnColorGreen:#52C41A; 
$btnColorRed:#F5222D; 
$btnColorBlue:#1890ff; 
$backgroundCol : #FFFFFF;

$fontColorBlack : rgba(0, 0, 0, 0.85);

$fontFamInter : Inter serif;
$fontFamRoboto : Roboto serif;

$minScreenWidth: 520px;

@mixin fontRules ($fontFamily: $fontFamInter, $fontSt: normal, $fontW : normal, $fontS : 18px, $lineH: 28px) {
        font-family: $fontFamily;
        font-style: $fontSt;
        font-weight: $fontW;
        font-size: $fontS;
        line-height: $lineH;
}