body,
h1,
p, 
div,
button,
span
{
    margin: 0;
}
$fontFam : Roboto serif;
@mixin createArticleFont ($fontFamily: $fontFam, $fontSt: normal, $fontW : normal, $fontS : 18px, $lineH: 28px) {
    font-family: $fontFamily;
    font-style: $fontSt;
    font-weight: $fontW;
    font-size: $fontS;
    line-height: $lineH;
}
.create-Article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 59px;
    padding: 48px 32px; 
    width: 100vw;  
    max-width: 938px;
    min-width: 400px;
    min-height: 661px;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
    border-radius: 6px;
}
.createArticle__title {
    @include createArticleFont ($fontFam, normal, 500, 20px, 28px);
    width: 100%;  
    max-width: 938px;
    min-width: 400px;
/*     width: 311px;
 */    height: 28px;
    left: 36.5px;
    top: 48px;
    text-align: center;
    color: #262626;
    flex: none;
    align-self: center;
}
.createArticle__input{
    @include createArticleFont ($fontFam, normal, normal, 14px, 22px);
    padding: 0px;
    position: relative;
    width: 100%;  
    /* max-width: 874px;
    min-width: 400px; */
    min-height: 64px;
    height: auto;
    margin-bottom: 12px;
}
.createArticle__label{
    position: relative;
    height: 22px;
    align-items: center;
    color: #262626;
    margin-bottom: 2px;
}
.input__elem {
    display: flex;
/*     position: relative;
 */    height: 40px;
    width: 100%;  
    max-width: 874px;
    min-width: 400px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

.createArticle__text{
    @include createArticleFont ($fontFam, normal, normal, 14px, 22px);
    padding: 0px;
    position: relative;
    width: 100%;  
    max-width: 874px;
    min-width: 400px;
    min-height: 168px;
    height: auto;
    margin-bottom: 12px;
}
.input__textInput {
    position: relative;
    resize: none;
    left: 0px;
    width: 100%;  
    max-width: 874px;
    min-width: 400px;
    min-height: 168px !important;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    overflow-wrap: break-word;
}
.createArticle__tags{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    min-height: 40px;
    align-self: center;
    flex-grow: 0;
    margin: 21px 0px;
}
.createArticle__tags__singleTag{
    display: flex;
    min-height: 40px;
    height: auto;
    margin: 5px 0px;
}
.createArticle__tags__singleTag__input{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width:300px;
    min-width: 250px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}
.createArticle__tags__singleTag__btn {
    @include createArticleFont ($fontFam, normal, normal, 16px, 24px);
    width: 120px;
    height: 40px;
    align-items: center;
    text-align: center;
    border: 1px solid #F5222D;
    color: #F5222D;
    background: #FFFFFF;
    border-radius: 4px;
    margin-left: 17px;

}
.createArticle__tags__singleTag__addBtn {
    @include createArticleFont ($fontFam, normal, normal, 16px, 24px);
    width: 136px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    align-items: center;
    padding: 8px 16px;
    color: #1890FF;
    background: #FFFFFF;
    border: 1px solid #1890FF;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 17px;

}
.createArticle__button {
    align-items: center;
    padding: 8px 16px;
    position: relative;
    width: 319px;
    height: 40px;  
    color: white;
    background: #1890FF;
    border-radius: 4px;
    border: none;
    @include createArticleFont ($fontFam, normal, normal, 16px, 24px);
    margin-top: 9px;
}
.createArticle__error {
    position: relative;
    color: #F5222D;
    margin-top: 2px;
    min-height: 24px;
    resize: none;
}
.input_textError {
    color: #F5222D;
    border: 1px solid red !important;
}
.input_inputError{
    color: #F5222D;
    border: 1px solid red !important;
}
.articleSuccess {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    width: 384px;
    height: 100px;
    background-color: white;
    border: 1px solid grey ;
    border-radius: 6px; 
}
.success{
    position: relative;
    text-align: center;
    font-size: 16px;
    width: 384px;
    top: 30px;
    color: #52C41A;
}
